
/*
h2 {
    font-size: 24px;
    font-weight: 300;
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 10px;

}

.textbox {
    margin: 20px auto;
    width: 443px;
    height: 443px;
    -webkit-border-radius: 8px/7px;
    -moz-border-radius: 8px/7px;
    border-radius: 8px/7px;
    background-color: #24323d;
    -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
    -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31);
    box-shadow: 1px 2px 5px rgba(0,0,0,.31);
    border: solid 1px #cbc9c9;
}
.tab-group {
    position: relative;
    width : 380px;
    list-style: none;
    padding: 30px;
    margin: 0 0 30px 0;
}

.tab-group li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: rgba(160, 179, 176, 0.25);
    color: #a0b3b0;
    font-size: 20px;
    float: left;
    width: 160px;
    text-align: center;
    cursor: pointer;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}
.tab-group li a:hover {
    background: #179b77;
    color: #ffffff;
}
.tab-group .active a {
    background: #1ab188;
    color: #ffffff;
}

label {
    position: absolute;
    left: 13px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 22px;
}

input, textarea {
    font-size: 22px;
    display: block;
    margin-left: 26px;
    margin-right: 30px;
    width: 367px;
    height: 20px;
    padding: 5px 10px;
    background: none;
    border: 1px solid #a0b3b0;
    color: #ffffff;
    overflow-x: hidden;

}

input:focus {
    border-color: #1ab188;
}
textarea {
    border: 2px solid #a0b3b0;

}

.field-wrap {
    position: relative;
    margin-bottom: 20px;

}

.top {
    display: inline-block;
    width: 40%;
    z-index: 1;
    position: relative;
}
.right {
    float: right;
    margin-top: -25px;
}
.left {
   float: left;
}

.button {
    padding: 15px 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #1ab188;
    color: #ffffff;
    -webkit-appearance: none;
    width: 390px;
    position: relative;
    margin-left: 27px;
    margin-right: 27px;
}
.button:hover, .button:focus {
    background: #179b77;
}

.button-block {
    display: block;
    width: 388px;
}

.button#p1next {
    width: 388px;
}
*/